
*{
    margin: 0%;
    padding: 0%;
}
body{
    
   
    background: rgb(13,22,58);
    background: linear-gradient(90deg, rgba(13,22,58,1) 95%, rgb(28, 36, 38) 100%, rgb(75, 87, 102) 100%, rgb(28, 55, 67) 100%, rgba(2,0,36,1) 100%,rgb(65, 85, 90) 100%,  rgb(21, 71, 84) 123%);
}

nav ul li a:hover {
    background-color: transparent !important; 
    box-shadow: none !important; 
    color: #333;
  }
.navbar{
    background: rgb(13,22,58);
    background: linear-gradient(90deg, rgba(13,22,58,1) 95%, rgb(28, 36, 38) 100%, rgb(75, 87, 102) 100%, rgb(28, 55, 67) 100%, rgba(2,0,36,1) 100%, rgb(65, 85, 90) 100%, rgb(21, 71, 84) 123%);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color:  #f3ebeb !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    clear: rgb(243, 238, 238);
    font-size: 30px !important;
}

 /* #banner */
  
/* #banner{
    
    margin-top: 5%;
} */
.promo-title {
    font-size: 80px;
    font-weight: 600;
    margin-top: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, rgb(113, 212, 232) 2%, rgb(221, 229, 238) 33%, rgb(220, 231, 237) 67%, rgb(173, 170, 220) 100%, rgba(76,172,192,1) 100%, rgba(16,90,111,1) 123%);
}
.btn{
    width: 250px;
}

.btnig{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.promo-subtitle{
    color: #fff;
    margin-top: 5%;
    padding: 3px;

}

.bn {
    margin-top: 5%;
    color: #1b2f31;
    background-color: #69ebcc;
    border-radius: 50px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
  }

  /*Features  */
#Features{
    margin-top: 5%;
}
  .box {
    width: 9%;
    height: 200px;
    border-radius: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.box:hover {
    background: rgb(116,131,186);
    background: linear-gradient(90deg, rgba(116,131,186,1) 0%, rgba(125,132,154,1) 0%, rgba(93,88,174,1) 25%, rgba(57,132,202,1) 46%, rgba(73,146,179,1) 71%, rgba(62,77,143,1) 100%, rgba(16,90,111,1) 123%);
}

.promo-subtitle1  {
    margin-top: 5%;
    color: #738789;
    font-weight: 700;
    padding: 3px;

}
.promo-subtitle2{
    color: #fff;
    font-size: 4rem;
    padding-right: 5px;

}
@media only screen and (max-width: 992px) {
    .promo-subtitle2{
        font-size: 2rem;


    }
}

.box1 {
    background: rgb(92,99,123);
    background: linear-gradient(90deg, rgba(92,99,123,1) 0%, rgba(112,111,134,1) 0%, rgba(78,93,105,1) 0%, rgba(80,97,109,1) 4%, rgba(85,113,126,1) 29%, rgba(110,148,166,1) 46%);
    color: white;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}

.box1:hover {
    background: rgb(112,111,134);
    background: linear-gradient(90deg, rgba(112,111,134,1) 0%, rgba(121,136,148,1) 4%, rgba(134,141,168,1) 7%, rgba(88,117,131,1) 42%, rgba(56,84,97,1) 61%);
}
.box1p{
    margin-top: 15%;
}

@media only screen and (max-width: 992px) {
    .box1{
        width: 450px;
        height: 250px;
    }
}

#boxs2{
    margin-top: 5%;
    margin-bottom: 3%;
}
.box2 {
    background: rgb(112,111,134);
    background: linear-gradient(90deg, rgba(112,111,134,1) 0%, rgba(60,63,75,1) 0%, rgba(55,65,73,1) 7%, rgba(99,124,138,1) 40%, rgba(56,84,97,1) 61%);
    width: 60%;
    height: 350px;
    border-radius: 30px;
    color: white;
    text-align: center;

}


.btn2{
    margin-top: 4%;
    color: #1b2f31;
    background-color: #69ebcc;
    border-radius: 10px;
    text-decoration: none;
    height: 3em;
    width: 20em;
    font-size: large;
    font-weight: 600;
}

@media only screen and (max-width: 992px) {
    .btn2{
        height: 2em;
    width: 10em;
    font-weight: 400;

    }
}

/* Footer */
.footer {
    width: 100%;
    color: white;
    padding: 40px 0;
}

.contain {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col {
    width: calc(25% - 40px);
    box-sizing: border-box;
    padding: 20px;
}

.footer .col2 {
    width: calc(50% - 40px);
    box-sizing: border-box;
    padding: 20px;
}

.footer .col h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
    color: #928e8e;
    text-transform: uppercase;
}

.footer .col ul {
    list-style-type: none;
    padding: 0;
}

.footer .col ul li {
    font-size: 12px;
    padding: 5px 0px;
}

.footer .col ul li:hover {
    cursor: pointer;
    color: lightgray;
    font-weight: bold;
}

.clearfix {
    clear: both;
}

/* Responsive adjustments */
@media only screen and (max-width: 992px) {
    .footer .col,
    .footer .col2 {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .footer .col,
    .footer .col2 {
        width: 100%;
    }
}





.footer-basic {
    padding:40px 0;
    /* background-color:#ffffff; */
    color:#eef1f4;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fff;
    margin-bottom:0;
  }


  /* staking */
  .navbar-nav {
    display: flex;
    gap: 100px; 
    margin-left: 10%;
  
   
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #edeaea;
    font-weight: 600;
    font-size: larger;
}
#home h1{
    margin-top: 10%;
    text-align: center;
 font-size: 4rem;
 color:rgb(52, 115, 136) ;
 font-weight: 600;

}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.st-title {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(244, 246, 247);
}



.bn2 {
    color: #c8e8ec;
    background: rgb(97, 152, 195);
    background: linear-gradient(90deg, rgba(97, 152, 195, 1) 29%, rgba(110, 121, 193, 1) 43%, rgba(53, 61, 204, 1) 58%, rgba(99, 124, 138, 1) 99%, rgba(121, 168, 191, 1) 100%, rgba(113, 107, 233, 1) 100%);
    border-radius: 40px;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 10px;
    /* padding-right: 4px; */
}
.bn3 {
    color: #c8e8ec;
    background: rgb(97, 152, 195);
    background: linear-gradient(90deg, rgba(97, 152, 195, 1) 29%, rgba(110, 121, 193, 1) 43%, rgba(53, 61, 204, 1) 58%, rgba(99, 124, 138, 1) 99%, rgba(121, 168, 191, 1) 100%, rgba(113, 107, 233, 1) 100%);
    border-radius: 40px;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 10px;
    /* padding-right: 4px; */
}
@media only screen and (max-width: 992px) {
    .bn3{
        width: 150px;
        height: 50px;
        margin-left: 5%;
        margin-top: 5%;
    }
}

/* CSS */
.button {
    font-weight: 600;
    font-size: large;

    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #1f4b91;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
/* second */
#second{
    margin-top: 5%;

}
.btnst{
    font-weight: 600;
    font-size: large;

    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #505f77;
    background-size: 400%;
    color: #fff;
    border: none;
}
.btnst1{
    font-weight: 600;
    font-size: large;

    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3a6ec2;
    background-size: 400%;
    color: #fff;
    border: none;
    margin-bottom: 5%;
}
  .stbox1 {
    height: 600px;
    border-radius: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
 
    color: white;
    text-align: center;
    background: linear-gradient(
        82.3deg,
        rgb(86, 80, 97) 10.8%,
        rgb(38, 36, 53) 94.3%
      );
   
}

.stbox2{
    height: 200px;
    border-radius: 20px;
    color: white;
    text-align: center;
    background: linear-gradient(
        82.3deg,
        rgb(86, 80, 97) 10.8%,
        rgb(38, 36, 53) 94.3%
      );
}
/* Features */
.st-title2 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(244, 246, 247);
    text-align: center;
}
#Features{
    margin-top: 15%;
}

.stboxF {
    background: linear-gradient(
        82.3deg,
        rgb(86, 80, 97) 10.8%,
        rgb(38, 36, 53) 94.3%
      );
    color: rgb(183, 174, 174);
    text-align: center;
    width: 400px;
    height: 150px;
    border-radius: 30px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}


@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: "Asap", sans-serif;
  background-color: #e0ffff;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  width: 100%;
  height: 100vh;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #e0ffff;
}
.logo {
  height: 45px;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  letter-spacing: 1px;
  transition: all ease 0.2s;
}
nav ul li a:hover {
  background-color: #c3d9d9;
  color: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.img-card {
  width: 300px;
  height: 300px;
}
.main-text {
  width: 500px;
}
.main-text h1 {
  font-size: 4rem;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 50px;
}
.main-text p {
  color: #333;
  font-size: 1.5rem;
}
.main-text .btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #c3d9d9;
  border-radius: 20px;
  transition: all ease 0.5s;
}
.main-text .btn:hover {
  background-color: #e0ffff;
  box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.2);
  color: #333;
}
#cards,
#neon,
#neumorph {
  width: 100%;
  padding: 50px 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.text-card {
  width: 310px;
  height: 350px;
  background-color: #c3d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
}
.text-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35);
}
.text-card p {
  color: #333;
  font-size: 1rem;
  text-align: center;
}

.neon-card {
  width: 900px;
  height: 350px;
  background-color: #22232e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 5px 20px #00c2cb, 0px 5px 20px #fff;
  transition: all ease 0.5s;
}
.neon-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px #fff;
}
.neon-card h2 {
  color: #fff;
}
.neon-card p {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
#neumorph {
  background-color: #dde1e7;
}
.neu-card {
  width: 300px;
  height: 350px;
  background-color: #dde1e7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  transition: all ease 0.5s;
}
.neu-card a {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #c3d9d9;
  border-radius: 20px;
  transition: all ease 0.5s;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}
.neu-card a:hover {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.neu-card p {
  font-size: 1rem;
  text-align: center;
}